$bgcolor: rgb(31, 30, 44);

* {
    box-sizing: border-box;
}

body {
    background-color: $bgcolor;
}

h1 {
    background-color: #2196F3;
}

.header {
    padding: 15px;
    background-color: #3e834f;
}

.menu {
    height: max-content;
    width: 25%;
    float: left;
    background-color: #a75f95;
}