body {
    background-color: rgb(34, 34, 34);
}

h1 {
    text-align: center;
}

h2 {
    font-size: larger;
    color: gainsboro;
}

#about-content {
    background-color: rgb(98, 102, 105);
}

.about-body-text {
    color: azure;
    width: min-content;
}