body {
    background-color: rgb(34, 34, 34);
}

h1 {
    text-align: center;
}

h2 {
    font-size: larger;
    color: gainsboro;
}


.body-text {
    color: azure;
    font-size: xx-small;
}

#landing {
    font-size: xx-small;
    margin-right: auto;
    margin-left: auto;
}

#bio-text {
    font-size: small;
}